{% extends 'base.html' %}

{% block title %}Create Listing{% endblock %}

{% block content %}

<div class="container py-5">

    <div class="row justify-content-center">

        <div class="col-lg-8">

            <div class="card shadow border-0">

                <div class="card-body p-5">

                    <h2 class="mb-4">
                        Add New Property
                    </h2>

                    <form method="POST" enctype="multipart/form-data">

                        {% csrf_token %}

                        {{ form.as_p }}

                        <button class="btn btn-warning btn-lg">
                            Save Listing
                        </button>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}
